.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

.z-index {
	overflow-x: hidden;
	/*z-index: 3;*/
}

.box-sizing-border {
  box-sizing: border-box; 
}

.width-500 {
	width: 500px;
}